.title-header, .body-header {
  clear: left;
  float: left; }

.date-header {
  margin-left: 10px; }

.message {
  color: red; }

hr {
  clear: left; }

.title {
  color: red;
  font-weight: bold; }

.body {
  color: gray; }
