- if @message
  p.message =@message

div
  = form_tag '/new' do
    =flash_tag(:notice)
    =field_set_tag do
      div
        =label_tag :title
        =text_field_tag :title, :value => params[:title]
      div
        =label_tag :body
        =text_area_tag :body, :class => 'input-body', :rows => '5', :cols => '80', :value => params[:body]
    =field_set_tag(:class => 'buttons') do
      =submit_tag "投稿"

- if @posts.any?
  - for post in @posts
    div.post
      span.title-header 題名:
      span.title =post.title
      span.date-header 投稿時刻:
      span.date =post.created_at
      //#span.body-header 本文:
      div.body =post.body
    hr
